.advantages {
  .reset-spaces();
}

.advantage {
  .reset-spaces();
  .set-color(@clr: @white, @bgclr: @main-color);

  &:nth-child(2) {
    padding-top: 36px;
    background-repeat: no-repeat;
    background-position: 50% top;
    background-image: url("@{img-path}/bg-triangle.svg");

  }

  &__desc {
    padding: 40px 20px;
  }

  &__desc-title {
    .title(@fsz: @font-size-1, @clr: @white);
  }

  &__desc-number {
    margin: 12px 0;

    &::before {
      content: "- ";
    }

    &::after {
      content: " -";
    }
  }

  &--grey {
    .set-color(@bgclr: @grey);
  }

  &--grey &__desc-title {
    .title(@clr: @black);
  }

  &__photo {

    line-height: 0;
    background-color: #aab7a5;
  }
}


