
.btn {
  display: inline-block;
  padding: 16px 30px;

  color: #ffffff;

  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: normal;

  background-color: #81b3d2;

  box-shadow: none;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: #88b6d1;
    background-color: #5496bd;
  }

  &:disabled {

    background-color: #e5e5e5;

    &:hover {
      background-color: #e5e5e5;
    }

    &:active {
      color: #ffffff;
      background-color: #e5e5e5;
    }
  }

  &--in-progress:not(:disabled) {
    animation: colorblink 0.5s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes colorblink {
  0% {
    background-color: #5496bd;
  }

  100% {
    background: #3e84ae;
  }
}
