.form-section {
  .reset-spaces();
  position: relative;
  width: 100%;
  border: none;
}

.form-section__title {
  display: block;
  margin: 0 auto;
  text-align: center;
  .title(@fsz: @font-size-1);
  padding: 20px 0;
}
