.list-item {
  display: flex;
  margin-bottom: 20px;

  &__label {
    line-height: 58px;
    padding-right: 20px;
  }

  &__input {
    .reset-spaces();
    .title(@ttr: none);
    .set-color(@black, @darker-5pct-color);
    height: 58px;
    width: 100%;
    padding: 0 20px;
    border: none;
    outline: none;
    color: @black;
  }

  &--contacts {
    display: flex;
    flex-direction: column;
  }

  &__label--contacts {
    line-height: 25px;
    margin-left: 20px;
    margin-bottom: 5px;
    text-align: left;
  }
}

