/**
  * ===========================================================
  * MAIN NAVIGATION mobile
  * ===========================================================
  */

.main-nav {
  position: relative;

  font-size: 18px;
  line-height: 40px;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;

  z-index: 100;

  &--nojs .main-nav__btn {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  overflow: hidden;
}

.main-nav__item {

  &:first-child .main-nav__link {
    box-shadow: inset 0px -1px 0px #678fa8;
  }

  &:last-child .main-nav__link {
    box-shadow: inset 0px 1px 0px #9ac2db,
      inset 0px -5px 12px -10px #000000;
  }
}

.main-nav__link {
  display: block;
  padding: 8px 20px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
  background-color: #81b3d2;
  box-shadow: inset 0px -1px 0px #678fa8,
    inset 0px 1px 0px #9ac2db;

  &[href]:hover {
    background-color: #669ec0;
    cursor: pointer;
  }

  &[href]:active {
    background-color: #5496bd;
    color: #88b6d1;
    cursor: pointer;
  }
}

.main-nav__control {
  position: relative;

  min-height: 56px;
  background-color: #ffffff;

  .clearfix();
}

.main-nav__btn {
  position: relative;

  float: right;

  margin: 5px;
  padding: 0px;

  width: 53px;
  height: 46px;

  font-size: 0px;

  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.main-nav__btn-icon {

  position: absolute;

  top: 50%;
  left: 50%;

  fill: #81b3d2;

  &--menu {
    width: 23px;
    height: 21px;

    margin-top: -12px;
    margin-left: -12px;
  }

  &--cross {
    width: 25px;
    height: 23px;

    margin-top: -13.5px;
    margin-left: -12.5px;
  }

}


/**
  * ===========================================================
  * MAIN NAVIGATION tablet
  * ===========================================================
  */

@media @tablet-widths {

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;

    background-color: #ffffff;

    .clearfix();
  }

  .main-nav__btn-close {
    display: none;
  }

  .main-nav__item {

    width: 20%;

    &:nth-child(3) {
      margin-left: auto;
    }

    &:first-child .main-nav__link {
      box-shadow: none;
    }

    &:last-child .main-nav__link {
      box-shadow: none;
    }
  }

  .main-nav__link {
    padding: 15px 20px;
    padding-right: 16px;

    font-size: 14px;
    font-weight: bold;
    line-height: 25px;

    color: #000000;
    background-color: #ffffff;
    box-shadow: none;

    &[href]:hover {
      background-color: #ffffff;
      color: #81b3d2;
    }

    &[href]:active {
      background-color: #ffffff;
      color: #b2b2b2;
    }

    &--active {
      color: #766357;

      &:hover {
        background-color: #ffffff;
        color: #604e43;
      }

      &:active {
        background-color: #ffffff;
        color: #d6d0cc;
      }
    }
  }

  .main-nav__control {
    display: none;
  }
}
