.page-header {
  .reset-spaces();
}

.page-header__logo {
  .reset-spaces();
  min-height: 158px;
  padding-top: 52px;
  background-color: #e4f1f9;
  background-image: url("@{img-path}/bg-intro-triangle-mobile.svg"), url("@{img-path}/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto, auto;
  background-position: 50% bottom;

  &--index {
    min-height: 389px;
    padding-top: 90px;
  }
}

.page-header__banner {
  width: 230px;

  &--index {
    width: 280px;
  }
}
