.reset-spaces() {
  margin: 0;
  padding: 0;
}

.reset-list() {
  .reset-spaces();
  list-style: none;
}

.title (@fsz: @font-size-1, @lh: @base-line-height, @clr: @black, @ttr: uppercase) {
  font-size: @fsz;
  font-weight: bold;
  line-height: @lh;
  color: @clr;
  text-transform: @ttr;
}

.set-color (@clr: @base-text-color, @bgclr: @white) {
  color: @clr;
  background-color: @bgclr;
}
