@font-face {
    font-family: "@{base-font-family}";
    src: url("@{fonts-path}/ptsans.woff") format("woff");
    src: url("@{fonts-path}/ptsans.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "@{base-font-family}";
    src: url("@{fonts-path}/ptsansbold.woff") format("woff");
    src: url("@{fonts-path}/ptsansbold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}
